.mySwiper .swiper-pagination-progressbar {
    top: auto !important;
    /* Force removal of top positioning */
    bottom: 0 !important;
    /* Force the progress bar to the bottom */
    height: 5px;
    /* Adjust the height if needed */
}

.mySwiper .swiper-pagination-progressbar-fill {
    background-color: #ff8a86;
    /* Customize the progress bar color */
}